#hiring-page{
    .put{
        height: 600px;
        background-color: orangered;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 20px 300px;
        
        > h1{
            text-align: center;
            padding: 50px;
            color: grey;
        }
    
        
        input{
            padding: 10px;
            margin: 5px;
            border-radius: 20px;
        }
        .hire{
            margin: 10px;
            background-color: transparent;
            border: 3px solid aquamarine;
            padding: 5px 10px;
            cursor: pointer;
            font-weight: 700;
        }
    
}
}