#header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: orangered;
    padding: 10px 50px;
    img{
        height: 100%;
    }
    .hiring-page{
        display: flex;
        align-items: center;
        button{
            background-color: white;
            border: 4px solid white;
            color: white;
            font-weight: 700;
            padding: 10px 20px;
            border-radius: 20px;
            background-color: transparent;
            cursor: pointer;
        }
    }
}